body{
    font-family: 'Nunito', sans-serif;
}

main{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card{
    border: 1px solid lightgrey;
    padding: 3px;
    box-shadow: 2px 2px 2px lightgrey;
    position: relative;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .overlay{
    color: white;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: .3s;
    overflow: hidden;
    font-size: 0;
}

.card:hover .overlay{
    font-size: 3rem;
    width: 100%;
    height: 100%;
}

/* .card .overlay{
    color: white;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transform: scale(0);
    transition: .3s;
    font-size: 3rem;
}

.card:hover .overlay{
    transform: scale(1);
} */